.titulotabla{
	height: 100px;
	float: none;
	margin-top: 50px;
}
.lugar{
	margin-left: 15%;
	display: inline-block;
	height: 40px;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
}
.lugar label{
	font-size: 200%;
	color: #442F20;
}
.lugar i {
	font-size: 250%;
	color: #442F20;
}
.button{
	margin-right: 15%;
	display: inline-block;
	float: right;
	padding-top: 31px;
	height: 70px;
	text-decoration: none;
	color: #A80461;
}
.button button{
	font-size: 25px;
	border-style: solid;
	border-color: #442F20;
	border-radius:6px;
	cursor:pointer;
	background-color: #FFE7C1;
}
.button button a{
	text-decoration: none;
	color: #442F20;
}

.contenedortabla{
	padding-left: 17%;
}
.tabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: right;
	width: 600px;
	border-style: none;
	width: 80%; /*Aquí va el ancho de la Celda*/
	height: 40%; /*Aquí el Alto*/
}
.tabla th{
padding: 5px;
font-size: 16px;
background-color: #442F20;
color: #FF9A00;
border-style: solid;
border-color: #FFDBC1;
border-width: 1px;
font-family: “Trebuchet MS”, Arial;
text-transform: uppercase;
}
.tabla td {
padding: 5px;
font-size: 16px;
background-color: #FFDBC1;
color: #442F20;
font-family: “Trebuchet MS”, Arial;
text-transform: uppercase;
}
.tabla td a{
color: #442F20;
}