 body{ 
    margin:0px;
    padding:0px; 
  }
  .contenedorB{
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 30px;
  }
  .contenedorB h1{
    font-size: 200%;
    margin: auto;
  }
  div.encabezado{
    background-color: #FAF2FC;
    margin: 0px;
    height: 30px;
    padding: 50% auto 50% auto;
  }
  h1{
    display: inline-block;
    margin: 0px;
    font-size: 100%;
    color: #520CB5;
    height: 20px;
    padding-top: 5px;
  }
  div.contenedor{
    background-color: #956DCD;
    height: 57px;
  }
  nav.menu{
    display: inline-block;
    float: left;
  }
  div#usuario{
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-size: 125%;
    margin-right: 15px;
    color: #2C0A5C;
  }
  #usuario i{
    font-size: 200%;
  }
  div #Home{
    display: inline-block;
    float: left;
    margin-top: 10px;
    font-size: 125%;
    margin-right: 15px;
    color: #2C0A5C;
  }
  #Home i{
    font-size: 200%;
  }
  .menu ul li{
    display: inline;
  }
  .menu ul li a{
    margin: 35px;
    font-size: 125%;
    text-decoration: none;
    border-style: groove;
    padding: 5px 10px 5px 10px; 
  }
  a.active{ /*marcar en que html está en el menu */
    background-color: #FBDDEE;
    color: #4C0B5F;}


