 body{ 
    background-color: #E1E1DD; 
    margin:0px;
    padding:0px; 
  }
  .encabezado{
    background-color: #C4C4C4;
    font-size: x-small;
    color: black;
    border-style: solid;
    border-color:  #C4C4C4;
  }
  .title {
    color: #41142E;
    text-align: center;
  }
  .menu{
    height: 50px; /*ancho del cuadro*/
    background-color:  #C43686;  
        } 
  .menu ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    height: 20px;
    font-size: 21px; 
  }
  .menu ul li {
    display: inline-block;
    width: 20%;
  }

  .menu ul li a{
    text-decoration: none;
    color: #FBDDEE;
    line-height: 50px; /*centrar en el cuadro*/
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu ul li a:hover{
    background-color: #FBDDEE;
    color: #C43686;
  }
  a.active{ /*marcar en que html está en el menu */
    background-color: #FBDDEE;
    color: #4C0B5F;
  }
  #usuario{
   margin-left: 100%;
  }

