 body{ 
    margin:0px;
    padding:0px; 
    background-color: #FFF0E4;
  }
    .contenedorB{
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 30px;
  }
  .contenedorB h1{
    font-size: 200%;
    margin: auto;
  }
  div.encabezado{
    background-color: #FAF2FC;
    margin: 0px;
    height: 30px;
    padding: 50% auto 50% auto;
  }
  h1{
    display: inline-block;
    margin: 0px;
    font-size: 100%;
    color: #FF9A00;
    height: 20px;
    padding-top: 5px;
  }
  div.contenedor{
    background-color: #FF9A00;
    height: 57px;
  }
  nav.menu{
    display: inline-block;
    float: left;
  }
  div #usuario a{
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-size: 125%;
    margin-right: 15px;
    color: #442F20;
    text-decoration: none;
  }
  #usuario i{
    font-size: 200%;
  }
  div #Home a{
    display: inline-block;
    float: left;
    margin-top: 10px;
    font-size: 125%;
    margin-right: 15px;
    color: #442F20;
    text-decoration: none;
  }
  #Home i{
    font-size: 200%;
  }
  .menu ul li{
    display: inline;
  }
  .menu ul li a{
    margin: 35px;
    font-size: 125%;
    text-decoration: none;
    padding: 5px 10px 5px 10px; 
    color: #A34500;
  }
  .menu ul li a:hover{
    color: #442F20;
  }


