.bloque-imagenes{
	width: 600px;
	height: 400px;
	margin-left: 30%;
}
.contenedorimagenes{
    float: left;
	margin: 0px;
	width: 200px;
	height: 200px;
	text-align: center;
}
.contenedorimagenes h2{
	font-size: 15%;
}
.imagen{
	display: inline-block;
	margin: 0px;
	float: left;
	width: 200px;
	height: 125px;
	text-align: center;
	font-size: 100px;
}
.imagen a{
	color: #442F20;
}
